## **Practice(1/3 ~ 3/3)**

In [6]:
import pandas as pd

# Show all results
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

# Display all results side by side
from IPython.display import display_html
def side_by_side(*args):
    html_str = ''
    for df in args:
        html_str += df.to_html()
    display_html(html_str.replace('table', 'table style="display:inline"'), raw=True)

In [7]:
def make_df(var, obs):
    data = {c: [str(c) + str(i) for i in obs] for c in var}
    return pd.DataFrame(data, index=obs)

In [9]:
df1 = make_df('ABCD', [0, 1, 2, 3])
df2 = make_df('DEFG', [1, 2, 3, 4])
side_by_side(df1, df2)

,A,B,C,D
0,A0,B0,C0,D0
1,A1,B1,C1,D1
2,A2,B2,C2,D2
3,A3,B3,C3,D3
,D,E,F,G
1,D1,E1,F1,G1
2,D2,E2,F2,G2
3,D3,E3,F3,G3
4,D4,E4,F4,G4